@page "/game/{name}"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using Lupincognito.Web.Client.Messenger

@inject IGameHubMessenger GameHubMessenger

@inject IState<GameState> GameState

<div class="row justify-content-center text-center m-2">
    <h1 class="col-12 p-4">@Name</h1>

    <PlayerList Players=GameState.Value?.Players CurrentTurnPlayerId=GameState.Value?.CurrentTurnPlayerId />

	<GameBoard Creatures=GameState.Value?.Creatures />

	<Dice DiceRollResult=GameState.Value?.CurrentTurnDiceRoll />

	<ActionList Actions=GameState.Value?.Actions />
</div>

@code {
    [Parameter]
    public string Name { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GameHubMessenger.StartConnectionAsync(Name);
    }
}
